<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>handlebars</title>
</head>

<body>
    <h1>Selamat Datang di handlebar</h1>
    {{ message }}

    <ul>
        {{#each users}}
        <li>
            Nama: {{this.name}}, Umur: {{this.age}}
        </li>
        {{/each}}
    </ul>
</body>

</html>